.navList {
  display: flex;
  gap: 40px;
}

.link {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link.active {
  color: #4d5ae5;
}
.active {
  position: relative;
}
.active::after {
  content: "";
  display: block;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background: #404bbf;
  position: absolute;
  left: 0;
  bottom: -1px;
}
